$breakpoints: (
  xs: 0px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$spacing: (
  auto: auto,
  0: 0,
  0\.5: 0.5,
  1: 1,
  1\.5: 1.5,
  2: 2,
  2\.5: 2.5,
  3: 3,
  4: 4,
  6: 6,
  8: 8,
);